  <%- include('Partials/header.ejs') %>
  <%- include('Partials/main_nav.ejs') %>
  <!--Main Content-->

<body class = "home-page">
<main>
  <div class="jumbotron jumbotron-fluid">
  <div class="container">
      <h1 class="display-6" style="font-family:verdana;">
      <%=title%></h1>
      </div>
    <div class = "homeWrapper">
    <p style="font-family:sans-serif;">Welcome to our <%= title %> page for the first part of the Project.<br><br>
    <br>We have decided to create an incident management site, where the user can create, update, and delete incidents from a database.<br>
    <br>An incident can be created, updated/edited, or deleted on the 'Incidents' page.<br>
    <br>To go to the Incidents page, simply...<br><br>
    <button onclick="window.location.href='/incidents'">Click Here</button>
    <br><br>A list of incidents reported previously will appear, which can be edited to deleted.<br>
    <br>Click 'Add Incident' to create a new Incident. Details such as the incident type, time,
    location, involved parties, overview, damages, and state of the incident need to be filled out before it can be submitted.<br>
    </p>
    </div>
    
    <!--<div class = "imageWrapper">
      <img src= "" alt="image"/>
    </div><-->

    
<%- include('Partials/footer.ejs') %>