<%- include('../Partials/header.ejs') %>
<%- include('../Partials/main_nav.ejs') %>
<main class="container">
    <div class="row">
        <div class="offset-md-0 col-md-10" style="text-align:center;">
            <br><h1><%= title %></h1><br>
        <% if(typeof displayName=='string' && displayName) { %>
            <a href="/incidents/add" class="btn btn-primary" role="button">
                <i class="fas fa-plus-circle"></i> Add Incident
            </a>
            <br><br>
        <% } %>
        <table class="table table-bordered table-striped table-hover">
            <!--Table Header-->
            <tr class="d-flex">
                <!--Change table layout depending on if the user is authenticated-->
                <% if(typeof displayName=='string' && displayName) { %>
                    <th class="text-center col-2">Type</th>
                    <th class="text-center col-3">Time</th>
                    <th class="text-center col-2">Location</th>
                    <th class="col-5">Overview</th>
                    <th class="text-center col-2">Incident Status</th>
                    <th class="text-center col-1"></th>
                    <th class="text-center col-1"></th>
                <% } else { %>
                    <th class="text-center col-2">Type</th>
                    <th class="text-center col-3">Time</th>
                    <th class="text-center col-2">Location</th>
                    <th class="col-5">Overview</th>
                    <th class="text-center col-2">Incident Status</th>
                <% } %>
            </tr>
            <!--iterate through the assignmentslist sorted by date and print values into table-->
            <% for(let count=0;count<IncidentList.length;count++) { %>
            <tr class="d-flex">
                <!--only display edit/delete buttons for authenticated users-->
                <% if(typeof displayName=='string' && displayName) { %>
                    <td class="text-center col-2 text-wrap"><%= IncidentList[count].type %></td>
                    <td class="text-center col-3 text-wrap"><%= IncidentList[count].time %></td>
                    <td class="text-center col-2 text-wrap"><%= IncidentList[count].location %></td>
                    <td class="col-5 text-wrap"><%= IncidentList[count].overview %></td>
                    <td class="text-center col-2 text-wrap"><%= IncidentList[count].state %></td>
                    <td class="text-center col-1 text-wrap">
                        <a href="/incidents/edit/<%= IncidentList[count]._id%>"
                            class="btn btn-primary btn-sm">
                        <i class="fas fa-pencil-alt"></i>Edit
                    </a>
                    </td>
                    <td class="text-center col-1 text-wrap">
                        <a href="/incidents/delete/<%= IncidentList[count]._id%>"
                            class="btn btn-danger btn-sm">
                        <i class="fas fa-trash-alt"></i>Delete
                    </a>
                    </td>
                <% } else { %>
                    <td class="text-center col-2 text-wrap"><%= IncidentList[count].type %></td>
                    <td class="text-center col-3 text-wrap"><%= IncidentList[count].time %></td>
                    <td class="text-center col-2 text-wrap"><%= IncidentList[count].location %></td>
                    <td class="col-5 text-wrap"><%= IncidentList[count].overview %></td>
                    <td class="text-center col-2 text-wrap"><%= IncidentList[count].state %></td>
                <% } %>
            </tr>
            <% } %>
        </table>
        </div>
    </div>
</main> 
<%- include('../Partials/footer.ejs') %>